.slider {
    position: relative;
    height: 40vh;
    .owl-item.active.center .slider-card {
        transform: scale(1);
        opacity: 1;
        color: #fff;
    }

    .slider-card{
        img {
            width: 100%;
            transition: all 0.3s ease;
        }
    }
}


.owl-nav .owl-prev {
    position: absolute;
    top: calc(50% - 25px);
    left: 6vw;
    opacity: 1;
    font-size: 30px !important;
    z-index: 1;
}
.owl-nav .owl-next {
    position: absolute;
    top: calc(50% - 25px);
    right:4vw;
    opacity: 1;
    font-size: 30px !important;
    z-index: 1;
}